resources/favicon.ico
resources/image-json.jpg
resources/image-svg.jpg
resources/image-xml.jpg
resources/index-mobile.png
resources/index-page.png
resources/index-tablet.png
resources/json.png
resources/mail.json
resources/question.txt
resources/rss-icon-square.png
resources/rss-icon.png
resources/svg.png
resources/to-do-list.svg
resources/xml-errors.xml
resources/xml-page..png
resources/xml.svg
